@import "variables";
@import "mixins";
@import "variables";

// Universal Styles
* {
  box-sizing: border-box;
  font-size: 16px;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;

  background-color: $OSBlack;
  color: $OSGold;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
  color: $OSGold;
}
