// SCSS Variables
$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$OSGold: #E11470;
$OSWhite: #F7F7F3;
$OSGrey: #211F1C;
$OSSmoke: #131112;
$OSBlack: #0B0909;
$OSOffWhite: rgba(247, 247, 243, 0.5);
$OSBorder: rgba(247, 247, 243, 0.25);

// Border Settings
$borderRadius: 5px;