// SCSS Variables
$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$OSGold: #FFBF00;
$OSWhite: #F7F7F3;
$OSBlack: #000;
$OSOffWhite: rgba(247, 247, 243, 0.5);
$OSBorder: rgba(247, 247, 243, 0.25);

// Border Settings
$borderRadius: 5px;